$text-color: #eeeeee;
$background-color-light: #272727;
$background-color: #202020;
$link-hover: #b80404;

$color-beige-soft: #fff6f4;
$color-beige-strong: #fee8e3;
$color-brown: #9e6633;
$color-text-primary: #9e6633;
