@import "@/styles/colors";
@import "@/styles/mixins";
.container {
  background-color: $color-beige-strong;
  display: flex;
  transition: all 0.4s;
  width: 100%;
  position: relative;
  padding: 5rem 0 2rem 0;
  height: fit-content;
  min-height: 100vh;
}

.content {
  position: relative;
  left: 50%;
  padding: 3rem 1rem;
  -ms-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-text-primary;
  text-align: center;
}

.guestName {
  position: relative;
  font-size: 3.5rem;
  font-weight: 400;
  color: $color-text-primary;
  z-index: 10;
  transition: all 0.5s ease-out;
  @include for-extra-small-devices {
    font-size: 2.5rem;
    max-width: 90vw;
  }
}

.invitationMessage {
  max-width: 500px;
  margin: 1rem auto;
}

.topOrnament {
  position: absolute;
  top: 3em;
  left: -20em;
  width: 800px;
  height: auto;
  object-fit: contain;
}

.bottomOrnament {
  position: absolute;
  width: 800px;
  height: auto;
  top: 3em;
  right: -20em;
  object-fit: contain;
}

@include for-extra-small-devices {
  .topOrnament {
    width: auto;
    top: calc(65% - 250px);
    left: -26em;
    height: 50vh;
    min-height: 500px;
    max-height: 700px;
    opacity: 80%;
  }

  .bottomOrnament {
    width: auto;
    top: calc(65% - 250px);
    right: -26em;
    height: 50vh;
    min-height: 500px;
    max-height: 700px;
    opacity: 80%;
  }
}

@include for-small-devices {
  .topOrnament {
    top: calc(50% - 300px);
    left: -23em;
    height: 40vh;
    width: auto;
    min-height: 500px;
    max-height: 700px;
  }

  .bottomOrnament {
    top: calc(50% - 300px);
    right: -23em;
    height: 40vh;
    width: auto;
    min-height: 500px;
    max-height: 700px;
  }
}

@include for-extra-large-devices {
  .topOrnament {
    top: 10em;
    left: -18em;
    width: auto;
    height: 60vh;
    min-height: 600px;
    max-height: 800px;
  }

  .bottomOrnament {
    position: absolute;
    top: 10em;
    right: -18rem;
    width: auto;
    height: 60vh;
    min-height: 600px;
    max-height: 800px;
  }
}
