* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: calc(15px + 0.390625vw);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
