@import "@/styles/colors";
@import "@/styles/mixins";

.container {
  width: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  transition: all 0.4s;
  padding: 1rem 0 2rem 0;
  height: fit-content;
  min-height: 100vh;
}

.content {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem 0.5rem;
  gap: 3em;

  @include for-extra-large-devices {
    flex-direction: row;
  }
}

.texts {
  text-align: center;
  color: $color-text-primary;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  max-width: 600px;
  padding: 1;
  z-index: 10;

  @include for-extra-small-devices {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  svg {
    margin: 1em 0;
  }
}

.giftRegistryLogo {
  position: relative;
  object-fit: contain;
  width: 90%;
  max-width: 325px;
  height: auto;
  margin: 2rem 0 0.5rem;

  @include for-extra-small-devices {
    max-width: 200px;
  }
}

.giftRegistryLink {
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
  align-items: center;
  justify-content: center;
  text-align: center;
  a {
    margin: 1em 0;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      margin: 0 0.3em;
    }
  }
}

.ornament {
  position: absolute;
  object-fit: contain;
  z-index: 1;

  @include for-extra-small-devices {
    transform: none;
    width: 100%;
    height: auto;
    min-height: 400px;
    max-height: 500px;
    top: -10rem;
    left: -80%;
  }

  @include for-small-devices {
    top: -14em;
    left: -22em;
    height: 50vh;
    min-height: 500px;
    max-height: 700px;
    width: auto;
  }

  @include for-large-devices {
    height: 50vh;
    min-height: 600px;
    max-height: 800px;
    top: -10rem;
    left: -27em;
    width: auto;
  }

  @include for-extra-large-devices {
    position: absolute;
    height: 60vh;
    min-height: 600px;
    max-height: 800px;
    top: -10rem;
    left: -25em;
    width: auto;
  }
}
