@import "@/styles/mixins";
@import "@/styles/colors";

.navbar {
  background: linear-gradient(
    180deg,
    $color-beige-strong 0%,
    $color-beige-soft,
    rgba(0, 212, 255, 0) 100%
  );
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 1.2rem;
  position: fixed;
  width: 100%;
  z-index: 900;
  padding: 0 6rem;
  padding-top: 1rem;

  @include for-extra-small-devices {
    padding: 0 1rem;
    padding-top: 1rem;
  }

  @include for-extra-large-devices {
    padding: 0 8rem;
    padding-top: 1rem;
  }
}

.navbarLogo {
  color: $color-text-primary;
  cursor: pointer;
  p {
    margin: 0;
    padding: 0 2px;
  }
}

.hamburger {
  width: 36px;
  height: 36px;
  margin-left: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  @include for-large-devices {
    display: none;
  }

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: $color-text-primary;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 50%;
    }
    &:nth-child(4) {
      top: 100%;
    }
  }
}

.hamburgerClose {
  height: 36px;
}

.hamburgerClose span:nth-child(1) {
  top: 50%;
  width: 0%;
  left: 50%;
}

.hamburgerClose span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburgerClose span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburgerClose span:nth-child(4) {
  top: 50%;
  width: 0%;
  left: 50%;
}

.navMenu {
  display: flex;
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  padding-inline-start: 0;
}

.navLinks {
  color: $color-text-primary;
  text-decoration: none;
  padding: 0.5rem 1rem;
  i {
    padding-right: 1em;
  }
  &:hover {
    cursor: pointer;
    background-color: $color-beige-strong;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
}

@media only screen and (max-width: 992px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    &.active {
      background-color: rgba($color-beige-strong, 0.9);
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1.4em;

    &:hover {
      background-color: darken($color-beige-soft, 2%);
      border-radius: 0;
      cursor: pointer;
    }
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 40%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
